<!-- Describe task in general -->

<p>
    Ваше завдання - зашифрувати текстове повідомлення за допомогою сайту <a target="_blank" href='https://en.wikipedia.org/wiki/Morse_code'>Morse code</a>. Вхідний текст складається з літер (у верхньому та нижньому регістрі), цифр та пропусків. Спеціальних символів ('&amp;', '?', '#' і т.д.) не буде<br>
    Між словами потрібно використовувати 3 пробіли і 1 пробіл між кожною літерою кожного слова.
</p>

<p style="text-align: center;">
    <img  title="Morse encoder" src="{{MEDIA}}example.jpg" alt="example" style="max-height: 283px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Секретне повідомлення <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Те саме повідомлення <span>(str{% if is_js %}ing{% endif %})</span>але зашифроване.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
<p>
<strong>Приклади:</strong>
</p>
<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain how it can be used in development and what is usage of this. -->
<!-- The section is optional -->
<p class="for_info_only">
   <strong>Як використовується:</strong>
    Для криптографії та шпигунської роботи.
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p><strong>Передумови:</strong>
    <ul>
        <li>0 &lt; len(text) &lt; 50;</li>
        <li>Тільки англійські літери (великі та малі), цифри та пробіли.</li>
    </ul>
</p>
